<div class="container-fluid g-0">
    <div class="row g-0">
        <div class="col-0 col-md-1 sidebar">
            <app-sidebar></app-sidebar>
        </div>

        <!-- <div class="col-0 col-md-1 sidebar"></div> -->




        <!-- here top padding 5 and x axis 3 -->
        <div class="col-12 col-md-5" style="background-color: rgb(245, 247, 248);">
            <router-outlet></router-outlet>
        </div>

        <!-- <div class="col-12 col-md-7"></div> -->

        
        <div class="col-12 col-md-6">
            <app-resume-template-viewer></app-resume-template-viewer>
        </div>

        <!-- <div class="col-0 col-md-4"></div> -->
    </div>
</div>
