<div class="Inter-font mt-xl-5 mt-lg-4 mt-3 px-lg-5 px-md-4 px-sm-5 px-4 mb-5">
    <h2 class="DMSerif-Regular-font text-center text-size-16">Experience summary</h2>

    <p class="text-size-9 mt-4">Experience Summary</p>
 
    
    <ng-container *ngFor="let experience of experiences; let j = index;">
        <ng-container *ngIf="isObjectNotEmpty(experience)">
            <div class="field-box-border-box-color pt-4 px-4 pb-4 mt-5" >

                <div class="d-flex justify-content-between align-items-center mb-1">
                    <p class="text-size-8">{{getIdFromIndex(j)}}.</p>
                    <div class="d-flex">
                        <button class="st-icon d-block bg-white py-2 px-2" (click)="editExperience(j)"><img src="./assets/images/edit.png" alt=""></button>
                        <button class="st-icon d-block bg-white py-2 ps-2" (click)="removeExperience(j)"><img src="./assets/images/bin.png" alt=""></button>
                    </div>
                </div>
    
                            
                <!-- <div class="d-flex"> -->
                    <p class="text-size-8 text-break">{{experience.jobTitle}}</p>
                    <!-- <label class="text-size-7 me-3 text-nowrap" for="">Job Title:</label>
                    <input class="text-size-6 st-input w-100 py-1 px-2" type="text" [(ngModel)]="experience.jobTitle"> -->
                <!-- </div> -->
        
                <!-- <div class="d-flex mt-2"> -->
                    <p class="text-size-6 text-break mt-2" *ngIf="isPrimitiveAnyPresent([experience.employer, experience.location])">{{experience.employer}} | {{experience.location}}</p>
                <!-- </div> -->
        
                <!-- <div class="d-flex mt-1"> -->
                    <!-- <p class="text-size-6 text-break mt-2"></p> -->
                    <!-- <label class="text-size-7 me-3 text-nowrap" for="">Job Location:</label>
                    <input class="text-size-6 st-input w-100 py-1 px-2" type="text" [(ngModel)]="experience.location"> -->
                <!-- </div> -->
        
                <!-- <div class="mt-1 d-xl-flex">
                    <div class="d-flex justify-content-start align-items-center me-xl-3"> -->
                        <p class="text-size-6 text-break mt-2" *ngIf="isPrimitiveAnyPresent([experience.startDate, experience.endDate])">{{experience.startDate}} - {{experience.endDate}}</p>
                        <!-- <p class="text-size-7 me-3 text-nowrap">Start Date:</p><p class="text-break">{{experience.location}}</p> -->
    
                        <!-- <label class="text-size-7 me-2 text-nowrap" for="">Start Date:</label>
                        <input class="text-size-6 st-input w-100 py-1 px-2" type="text" [(ngModel)]="experience.startDate"> -->
                    <!-- </div> -->
        
                    <!-- <div class="d-flex justify-content-start align-items-center mt-xl-0 mt-3">
                        <label class="text-size-7 me-2 text-nowrap" for="">End Date:</label>
                        <input class="text-size-6 st-input w-100 py-1 px-2" type="text" [(ngModel)]="experience.endDate">
                    </div> -->
                <!-- </div> -->
        
                <div class="mt-2" *ngIf="this.isArrayNotEmpty(experience?.responsibilities)">
                    <!-- <label class="text-size-6 text-nowrap" for="">Responsibilites:</label> -->
                    
                    <div class="mt-2" *ngFor="let items of experience.responsibilities; let i = index;">
                        <!-- <button class="st-icon d-block bg-white ms-auto mb-2" (click)="removeItem(experience, i)"><img src="./assets/images/bin.png" alt=""></button>
                        <textarea class="st-textarea w-100 py-1 px-2" name="" id="" [(ngModel)]="items.item"></textarea> -->
    
                        <div class="d-flex align-items-start text-size-6 text-break" *ngIf="isPrimitiveNotEmpty(items.item)">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <p class="text-size-1 mt-1">&#9679;</p>
                            <p>&nbsp;&nbsp;</p>
                            <p class="text-break">{{items.item}}</p>
                        </div>
    
                    </div>
                </div>
        
                <!-- <button class="std-button py-lg-2 py-3 px-4 px-4 text-size-5 mt-2 ms-auto d-block" (click)="addItem(experience)">
                    <span class="d-flex justify-content-between align-items-center">
                        <span>Add Item&nbsp;&nbsp;</span>
                        <span class="d-flex align-items-center"><img src="./assets/images/add.png" alt=""></span>
                    </span>
                </button> -->
        
            </div>
        </ng-container>

    </ng-container>



    
    

    <button class="std-button py-lg-2 py-3 px-4 px-4 text-size-5 mt-3 ms-auto d-block" (click)="addExperience()">
        <span class="d-flex justify-content-between align-items-center">
            <span>Add Experience&nbsp;&nbsp;</span>
            <span class="d-flex align-items-center"><img src="./assets/images/add.png" alt=""></span>
        </span>
    </button>

    <!-- <button (click)="addExperience()">Add Experience</button> -->

    <button class="std-button py-3 px-sm-5 px-4 mt-5 text-size-5 ms-auto d-block" (click)="goToNextSection()">
        <span class="d-flex justify-content-between align-items-center">
            <span>Next&nbsp;&nbsp;</span>
            <span class="d-flex align-items-center"><img src="./assets/images/right-arrow.png" alt=""></span>
        </span>
    </button>
</div>